<!-- templates/posts.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <table>
                    <tbody>
                        <tr>
                            <th>세션 ID: </th>
                            <td>{{ session['session_id'] }}</td>
                        </tr>
                    </tbody>
                </table>
                <form action="{{ url_for('auth.logout') }}" method="post">
                    <button type="submit">로그아웃</button>
                </form>
            </div>
            <h1>게시판</h1>
        </header>
        <main>
            {% if not cached_posts %}
                <div class="alert alert-info" role="alert">
                    게시물 데이터가 캐시되었습니다.
                </div>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">내용</th>
                        <th scope="col">등록 날짜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.content }}</td>
                            <td>{{ post.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/createposts" method="get" style="display: inline;">
                <button type="submit">게시물 작성</button>
            </form>
        </main>
    </div>
</body>
</html>
